<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security https://www.springframework.org/schema/security/spring-security.xsd">

    <security:http auto-config="true" use-expressions="true">
        <security:intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/user" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"/>
        <security:intercept-url pattern="/test" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"/>
        <security:intercept-url pattern="/login" access="permitAll()"/>
        <security:intercept-url pattern="/registration" access="permitAll()"/>
        <security:intercept-url pattern="/" access="permitAll()"/>

        <security:form-login login-page="/login"
                             login-processing-url="/login"
                             username-parameter="checkLogin"
                             password-parameter="checkPassword"
                             authentication-failure-url="/login?errorLog=true"
                             default-target-url="/"
                             always-use-default-target="true"/>

        <security:logout logout-url="/logout"
                         logout-success-url="/"
                         invalidate-session="true"
                         delete-cookies="JSESSIONID"/>
        <security:remember-me remember-me-parameter="remember-me"/>
    </security:http>


    <security:authentication-manager>
        <security:authentication-provider ref="userAuthenticationProvider"/>
    </security:authentication-manager>

    <bean id="authenticationProvider"
          class="org.itstep.service.authentication.UserAuthenticationProvider"/>

    <bean id="bCryptPasswordEncoder"
          class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>
</beans>